<h2>Olá,</h2>
<h4>A previsão de entrega para sua OS foi definida</h4>

<label>A previsão de entrega é para <strong>{{ Prev }}</strong>.</label>
<p>A entrega acompanhará a <strong>NFe {{ NFe }}</strong></p>

<p>
    Numero da OS: <strong>{{ ID }}</strong>.
</p>
<br />
<br />
<label>Assim que recebida, não se esqueça de <strong>confirmar o recebimento</strong> pelo <a href='{{ Frontend }}'>SLWEB</a>.</label>
<br/>
<p>Esse é um email automático, favor não responder.</p>